@media only screen and (max-width: 770px) {
  /* navigation phone */
  /* Icons phone */

  .fa-home,
  .fa-store,
  .fa-gamepad,
  .fa-envelope {
    display: block;
    color: #1b203d;
  }

  .nav-main .active {
    text-decoration: none;
  }

  .nav-main a:hover {
    text-decoration: none;
  }

  .nav-text {
    display: none;
  }

  .nav-top ul {
    background-color: rgba(221, 221, 221, 40%);
    border-radius: 10px;
  }

  .nav-top li {
    list-style: none;
    display: inline-block;
    padding: 10px 30px 10px 0;
    font-size: 2rem;
  }

  /* search bar */

  .search-box:hover > .search-txt {
    width: 180px;
    padding: 0 6px;
  }

  /* search end */

  .nav-main ul {
    background-color: rgba(221, 221, 221, 40%);
    border-radius: 13px;
  }

  .nav-main li {
    list-style: none;
    display: inline-block;
    font-size: 1.5rem;
    padding: 10px 11px 0px 0px;
    margin-top: 50px;
  }

  /* flexbox nav phone */

  .space-between {
    justify-content: space-between;
  }

  /* Main content phone */

  .home-content {
    flex-direction: column;
  }
  .home-games {
    flex-direction: column;
    column-gap: 50px;
  }
  .games-content {
    max-width: 400px;
  }

  /* contact page */

  .contact-content p {
    font-size: 1.3rem;
  }

  /* buttons phone */

  .more-info {
    font-size: 2rem;
    top: 84%;
  }

  .more-info .fa-arrow-right {
    padding-left: 30%;
  }

  /* footer nav */
  .bottom-container {
    margin-left: 0px;
  }

  /* Games page */
  .add-cart-cta,
  .product-more-info {
    max-width: 343px;
    font-size: 2rem;
    width: 100%;
  }

  /* Add to cart overlay */

  .added-popup {
    max-width: 300px;
  }
  .added-popup h5 {
    font-size: 1rem;
  }

  @media only screen and (max-width: 374px) {
    /* contact form */

    .contact-img img {
      display: none;
    }

    .contact-information,
    .contact-details {
      font-size: 1rem;
    }

    .input-contact,
    .label-contact,
    .textarea-contact {
      max-width: 250px;
    }
    .submit-contact {
      max-width: 270px;
    }
  }
}
