.search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #1b203d;
  font-size: 1.5rem;
  transform: 0.4s;
  line-height: 40px;
  width: 0px;
  transition: 0.4s;
}

.search-txt::placeholder {
  color: #fff;
}

.search-btn {
  color: #1b203d;
  height: 40px;
  width: 40px;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding: 0 6px;
}
