/* product specific */

.product-img-container {
  margin: 30px 35px;
}

.product-img-container img {
  max-width: 400px;
}

.product-container {
  display: flex;
  flex-direction: column;
}

.product-row-container {
  display: flex;
  flex-wrap: wrap;
}

.product-txt {
  margin: 4px 0 0 35px;
  max-width: 250px;
}

.product-txt h3 {
  margin-top: 1rem;
  font-size: 1.4rem;
}

.product-price {
  color: #41a535;
  text-transform: uppercase;
}

/* cta */

.add-cart-cta-product {
  display: flex;
  border: 2px solid #41a535;
  color: #fff;
  max-width: 376px;
  padding: 10px;
  margin: -6px 0;
  text-decoration: none;
  transition: 0.4s;
  color: #fff;
  border: 2px solid #41a535;
  font-weight: 500;
  font-size: 1.5rem;
  justify-content: center;
}

.fa-arrow-right {
  padding: 5px 0 0 40px;
}

.add-cart-cta-product {
  text-transform: uppercase;
}

.add-cart-cta-product:hover {
  background-color: #41a535;
}

/* overlay */

.added-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: opacity 100ms;
  visibility: hidden;
  opacity: 0;
}

.added-overlay:target {
  visibility: visible;
  opacity: 1;
}

.added-popup {
  position: relative;
  margin: 80px auto;
  padding: 20px;
  background: #1b203d;
  border-radius: 15px;
  max-width: 500px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.added-popup h5 {
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
}

.added-popup .closeOverlay {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 400ms;
  font-size: 50px;
  font-weight: bold;
  text-decoration: none;
  color: #fff;
}

.added-popup .closeOverlay:hover {
  color: #41a535;
}
