/* Body info */

body {
  background-color: #1b203d;
  margin: 0;
  padding: 0;
}

.content-wrapper {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

h3 {
  font-family: proxima-nova-condensed, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.8rem;
  color: #fff;
  margin: 10px 0px;
}

h1,
h2 {
  margin: 1rem 0 1rem 35px;
  font-family: proxima-nova, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 2.3rem;
  color: #fff;
}

h4 {
  margin: 1rem 0 1rem 35px;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  color: #fff;
}

p {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #fff;
}

/* header */

header {
  background-color: #41a535;
  width: 100%;
}

.logo {
  flex: 0 5 10rem;
  align-self: flex-start;
}

.logo img {
  width: 100%;
  margin: 2em 0 0 50px;
}

/* Navigation */

/* icons top nav */

.fa-envelope .fa-gamepad .fa-home .fa-store,
.fa-search,
.fa-user,
.fa-shopping-cart {
  color: #1b203d;
}

.active .fas {
  color: #fff;
}

.fas:hover {
  color: #fff;
}

/* icons main nav */

.fa-home,
.fa-store,
.fa-gamepad,
.fa-envelope {
  display: none;
}

/* icons end */

.nav-top ul,
.nav-main ul {
  background-color: rgba(221, 221, 221, 40%);
  border-radius: 10px;
}

.nav-top li {
  list-style: none;
  display: inline-block;
  padding: 10px 30px 10px 0;
  font-size: 2rem;
}

.nav-main li {
  list-style: none;
  display: inline-block;
  text-transform: uppercase;
  margin: 10px auto;
}

.nav-main a {
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5em;
  text-decoration: none;
  color: #1b203d;
  padding-right: 55px;
}

.nav-main a:hover {
  text-decoration: underline;
  color: #fff;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: flex-end;
}

.space-between {
  justify-content: space-between;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: flex-end;
  flex: 1 1 auto;
}

.nav-main .active {
  color: #fff;
  text-decoration: underline;
}

/* hr lines */

.headline-hr {
  border: 1px solid #fff;
  max-width: 1000px;
  margin-left: 35px;
}

.games-hr {
  border: 1px solid #fff;
  margin-bottom: 10px;
}

.contact-hr {
  border: 1px solid #fff;
  margin: 20px 0 0 35px;
  max-width: 1000px;
}

/* hr lines end */

/* Main content */

.home-content {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0px 35px 0px 35px;
  max-width: 100%;
  column-gap: 36px;
}

.home-games {
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin: 0px 35px 0px 35px;
  max-width: 100%;
  column-gap: 36px;
}

.games-content {
  max-width: 220px;
}

.game-info {
  max-width: 345px;
}

.img-games-row {
  align-self: flex-start;
}

.img-games-row img {
  max-width: 100%;
}

/* Buttons */

.preorder {
  float: left;
  padding: 25px 15px 0px 10px;
  align-items: center;
  position: absolute;
  top: 82%;
  width: 70%;
  height: 10.4%;
  background-color: #41a535;
  color: #1b203d;
  text-align: left;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-size: 1.32rem;
  text-decoration: none;
  text-transform: uppercase;
}

.preorder:hover {
  color: #fff;
}

.more-info-container {
  position: relative;
  width: 100%;
}

.more-info-container img {
  width: 100%;
  height: auto;
}
.more-info {
  float: left;
  padding: 10px 0px 10px 10px;
  align-items: center;
  position: absolute;
  top: 81%;
  width: 70%;
  height: 10.4%;
  background-color: #41a535;
  color: #1b203d;
  text-align: left;
  font-family: proxima-nova, sans-serif;
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
}

.more-info-container .fa-arrow-right {
  padding-left: 12%;
}

.more-info:hover {
  color: #fff;
}
